* {
  font-family: Arial, Helvetica, sans-serif;
}

.to-do {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 52%;
  margin: auto;
  height: 100%;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: black;
  color: white;
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.13);
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.406);
}
.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
input[type="text"] {
  font-size: 1.4rem;
  padding: 12px;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.401);
  /* border-radius: 5px; */
  /* color: rgba(128, 128, 128, 0.482); */
  width: 90%;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: gainsboro;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}
.add-btn {
  padding: 12px;
}
.delete-btn,
.move-btn {
  padding: 8px 12px;
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
